@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";

}
<div class="content-wrapper" style="min-height: 901px;">
    <section class="content-header">
        <h1>
           Ciudadano
            <small>Solicitudes</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Menú Principal</a></li>
        </ol>
    </section>

    <section class="content">

       

        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Datos del Ciudadano</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right" style="margin: 10px 0px">
                            <button type="submit" class="btn bg-green">
                                Agregar &nbsp;
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <table id="tabla_ciudadano" class="table table-bordered  table-striped table-responsive">
                   
                        <thead>
                            <tr>
                                <th>CURP</th>
                                <th>Nombre Completo</th>
                                <th>Género</th>
                                <th>Datos de Nacimiento</th>
                                <th>Contacto</th>
                                <th>Domicilio</th>
                                <th></th>
     
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CURP</td>
                                <td>Nombre Completo</td>
                                <td>Género</td>
                                <td>Datos de Nacimiento</td>
                                <td>Contacto</td>
                                <td>Domicilio</td>
                                <td></td>

                            </tr>


                        </tbody>

                    

                </table>
            </div>
        </div>
    </section>
</div>

