@{
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
}



<div class="login-box">
    <div class="login-logo">
        <b>INVI</b>CDMX
    </div>
    <form id="formulario_login">
        <div class="login-box-body">
            <p class="login-box-msg">Inicie sesion</p>
            <div class="form-group has-feedback">
                <input type="text" id="no_empleado" name="No_empleado" class="form-control" placeholder="Numero de empleado">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="password" name="Password" class="form-control" placeholder="Contraseña">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <button type="submit" id="btn_logear" class="btn btn-success btn-block btn-flat">Ingresar</button>
                </div>
            </div>

            @Html.ActionLink("¿Olvido la contraseña?", "Recuperar", "Login")
        </div>
    </form>

</div>

@section Scripts {
    <script src="~/Scripts/Controladores/Login.js"></script>
}



