                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Domicilio</h3>
                        <small></small>@*poner docimilio de que*@
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="DOM_IDVialidad">Tipo de Vialidad*:</label>
                                <select class="form-control" id="CIU_IDVialidad"></select>
                            </div>
                            <div class="form-group">
                                <label for="DOM_NombreVialidad">Vialidad*:</label>
                                <input type="text" class="form-control" id="DOM_NombreVialidad">
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="DOM_NumeroExterior">Número Exterior:</label>
                                    <input type="text" class="form-control" id="DOM_NumeroExterior">

                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="DOM_NumeroInterior">Número Interior:</label>
                                    <input type="text" class="form-control" id="DOM_NumeroExterior">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="DOM_Manzana">Manzana:</label>
                                    <input type="text" class="form-control" id="DOM_Manzana">

                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="DOM_Lote">Lote:</label>
                                    <input type="text" class="form-control" id="DOM_Lote">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="DOM_Colonia">Colonia*:</label>
                                    <input type="text" class="form-control" id="DOM_Colonia" >

                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="DOM_IDAlcaldia">Lote:</label>
                                    <select class="form-control" id="DOM_IDAlcaldia"></select>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>


                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="DOM_codigoPostal">Código Postal: </label>
                                    <input type="text" class="form-control" id="DOM_codigoPostal">
                                </div>
                                <div class="form-group  col-lg-6">
                                    <label for="DOM_IDEstado">Estado*:</label>
                                    <select class="form-control" id="DOM_IDEstado"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="DOM_Latitud">Latitud: </label>
                                    <input type="number" class="form-control" id="DOM_Latitud">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="DOM_Longitud">Longitud: </label>
                                    <input type="number" class="form-control" id="DOM_Latitud">

                                </div>
                            </div>
                           

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>

