<div class="box box-success">
    <div class="box-header with-border">
        <h1 class="box-title">2. Datos de la (el) cónyuge, concubina (rio) o pareja de la (el) solicitante.</h1>
    </div>
    <div class="box-body">
       
        <div class="form-group">
            <label for="PAR_Nombre">Nombre*:</label>
            <input type="text" class="form-control" id="PAR_Nombre">
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="PAR_ApellidoPaterno">Apellido Paterno*:</label>
                <input type="text" class="form-control" id="PAR_ApellidoPaterno">
            </div>
            <div class="form-group col-lg-6">
                <label for="PAR_ApellidoMaterno">Apellido Materno:</label>
                <input type="text" class="form-control" id="PAR_ApellidoMaterno">
            </div>
        </div>


        <div class="row">

            <div class="form-group col-lg-6">
                <label for="PAR_IDGenero">Género*: </label>
                <select class="form-control" id="PAR_IDGenero"></select>
            </div>
            <div class="form-group col-lg-6">
                <label for="PAR_IDRegimen">Régimen Patrimonial: </label>
                <select class="form-control" id="PAR_IDRegimen"></select>
            </div>

        </div>
        <div class="row">
            <div class="form-group  col-lg-6">
                <label for="CIU_FechaNacimiento">Fecha de Nacimiento*:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" id="CIU_FechaNacimiento">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="CIU_Estado">Entidad de Nacimiento*: </label>
                <select class="form-control" id="CIU_Estado" required></select>
            </div>

        </div>
      

        </div>
    </div>
    <!-- /.box-body -->




 
